<div class="container has-text-centered">
	<div class="columns">
		<div class="column">
			<h1>Mes sondages</h1>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<form (submit)="sendRetrieveEmail()">
				<input type="email" id="search_field" autofocus="autofocus" />
				<button class="button is-primary">
					envoyez-moi la liste par email
				</button>
				<label for="search_field" class="clickable padded">
					<img src="assets/img/undraw_prototyping_process_rswj.svg" alt="image my polls" />
				</label>
			</form>
		</div>
	</div>
	<div *ngIf="pollsAreLoaded">
		<div class="columns">
			<div class="column">
				<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
					<thead></thead>
					<tbody>
						<tr *ngFor="let poll of (_user | async)?.polls">
							<th>{{ poll.title }}</th>
							<td>
								<a routerLink="{{ '../../poll/' + poll.custom_url + '/consultation' }}">
									{{ poll.custom_url }}
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
