<header class="big-header" role="header">
	<div class="contained-desktop">
		<div class="container">
			<a class="logo-home-link pull-left" routerLink="/">
				<img class="header-app-logo app-logo logo" *ngIf="appLogo" src="{{ appLogo }}" alt="{{ appTitle }}" />
			</a>

			<div class="create-section" *ngIf="environment.display_header_create_button">
				<a class="button is-primary" role="button" routerLink="/administration" routerLinkActive="is-active">
					<i class="fa fa-plus-circle"></i>
					<div class="is-hidden-touch">
						{{ 'creation.init' | translate }}
					</div>
				</a>
			</div>
			<div class="pull-right right-end-bar">
				<app-language-selector class=""></app-language-selector>
			</div>
		</div>
		<div class="mobile-menu" *ngIf="mobileMenuVisible">
			<!--			menu mobile-->
			<app-language-selector></app-language-selector>
		</div>
		<div
			*ngIf="environment.showDemoWarning"
			class="demo demo-warning well debug has-text-white-bis has-background-warning-dark padded marged"
		>
			<!--	infos locales storage-->
			<i class="fa fa-info"></i>
			Ce site est un espace de démonstration, les informations que vous y mettrez seront régulièrement supprimées.
			N'en faites pas une utilisation réelle.
		</div>

		<div class="demo padded box has-background-info-light" *ngIf="environment.display_routes">
			voici des liens de démonstration issus des fixtures Doctrine de date-poll-api.
			<div class="padded">
				<div class="">
					<a class="navbar-item" [routerLink]="['/poll/demo/consultation']" routerLinkActive="is-primary">
						<i class="fa fa-file-epub"></i>
						<em>
							demo
						</em>
					</a>
					<a
						class="navbar-item"
						[routerLink]="['/poll/dessin-anime/consultation']"
						routerLinkActive="is-primary"
					>
						<i class="fa fa-picture-o"></i>
						<em>
							dessin-anime
						</em>
					</a>
					<a
						class="navbar-item"
						[routerLink]="['/poll/aujourdhui-ou-demain/consultation']"
						routerLinkActive="is-primary"
					>
						<i class="fa fa-clock-o"></i>
						<em>
							aujourdhui-ou-demain
						</em>
					</a>
					<a
						class="navbar-item"
						[routerLink]="[
							'/admin/9S75b70ECXI5J5xDc058d3H40H9r2CHfO0Kj8T02EK2U8rY8fYTn-eS659j2Dhp794Oa6R1b9V70e3WGaE30iD9h45zwdm76C85SWB4LcUCrc7e0Ncc0'
						]"
						routerLinkActive="is-primary"
					>
						<i class="fa fa-gears"></i> administrer le sondage
						<em>
							aujourdhui-ou-demain
						</em>
					</a>
					<a
						class="navbar-item"
						[routerLink]="['/poll/citron/consultation/prompt']"
						routerLinkActive="is-primary"
					>
						<i class="fa fa-key"></i>
						<em>
							citron
						</em>
						écran de saisie de mot de passe
					</a>
					<a
						class="navbar-item"
						[routerLink]="['/poll/citron/consultation/secure/1c01ed9c94fc640a1be864f197ff808c']"
						routerLinkActive="is-primary"
					>
						<i class="fa fa-key-modern"></i>
						<em>
							citron
						</em>
						+ pass intégré sans saisie
					</a>
				</div>
			</div>
		</div>
		<a
			*ngIf="environment.display_routes"
			class="has-text-black"
			href="/#/administration/key/8Ubcg2YI99f69xz946cn4O64bQAebi11012P70trL5372qJ9JOem1Ks2fz7XD0b09p-8Ubcg2YI99f69xz946cn4O64bQAeb"
		>
			<i class="fa fa-hand-paper-o"></i> test admin link to edit poll
		</a>
	</div>
</header>
