<div class="success">
	<h2 class="title is-2">
		Votre participation a bien été prise en compte !
	</h2>
	<p class="conclusion">
		Vous avez participé au sondage « Quand pour le resto ? ». Vous pouvez modifier vos votes, voir les votes des
		autres participants ou échanger des messages avec eux. Pour ça, cliquez sur « Voir le sondage ».
	</p>
	<button
		class="button is-primary"
		[routerLink]="['consultation/' + pollService._poll.getValue().custom_url + '/simple']"
	>
		Voir le sondage
	</button>
	<button class="button is-primary" [routerLink]="['/']">
		Aller à l’acceuil
	</button>
</div>
